.div-title{
    text-align: center;
    margin-top: 10%;

}
.text.title{
    font-size: 40px;
    color: #5AC2FA;
    margin-top: -28px;
 
}
.div-back{
    padding-left: 10px;
}
#marginImput{
 margin: 20px;

}
#fondo{
    background-color: #f3f34eb5;
}
img{
  
    width: auto;
    padding: 90px;
}
ion-content{

    --ion-background-color:#f3f34eb5;
}

input{
    height: 50px;
    width: 100%;
    background: #2dd36f7d;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    margin-bottom: 20px;

}
ion-button{
    --border-color: #07a7fdf0;
    --background-activated: #5ac2fac9;
    --color: #0c1317;
    --color-activated: #5ac2fa40;
    --background: #c3e89f;
}