<ion-content class="fondo">
  <div class="div-back">
    <ion-button (click)="goBack()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </div>
 <div class="div-title">
  <h1 class="text-title">Login </h1>

 </div>
 <img src="assets/Imagenes/Jesucristoninos.png">
 <div id="marginImput">
 <input type="text" placeholder="correo"> 
 <input type="password" placeholder="Contraseña">
</div>
 
<ion-button type="submit" shape="round" expand="block" fill="outline">
 Iniciar sesión

 </ion-button>

</ion-content>

