<ion-header style="padding :0px!important">
 
  <div class="toolbar-container" style="padding :0px">
  <ion-button (click)="goBack()" slot="start">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-title>Tarea</ion-title>
</div>

</ion-header>
<ion-content>
<ion-list>

  <ion-item *ngFor="let item of arrayAlumnos">
    <ion-avatar slot="start">
      <img [src]="item.photograpy">
    </ion-avatar>
    <ion-label>{{item.name}}</ion-label>
    <ion-button color="success" slot="end" (click)="TareaModal(item)">Ver tarea</ion-button>
  </ion-item>
 
   
 

</ion-list>

</ion-content>