<ion-content *ngIf="id=1"> 
 
      
  <ion-card *ngFor="let item of arrayLibro1">
    <img [src]="item.img" />
    <ion-card-header>
   
      <ion-card-title>{{item.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.descripcion}}
    </ion-card-content>
    <ion-item>
      
      <ion-input placeholder="Añade una descripcion"></ion-input>
      
    </ion-item>
    <ion-item>
    <ion-input placeholder="Ingrese codigo del video"></ion-input>
  </ion-item>
    <ion-button  color="secondary" (click)='presentAlertConfirm()'>Añadir tarea</ion-button>
  </ion-card>
  
</ion-content> 
<ion-content *ngIf="id=2"> 
 
      
  <ion-card *ngFor="let item of arrayLibro2">
    <img [src]="item.img" />
    <ion-card-header>
   
      <ion-card-title>{{item.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.descripcion}}
    </ion-card-content>
    <ion-item>
      
      <ion-input placeholder="Añade una descripcion"></ion-input>
      
    </ion-item>
    <ion-item>
    <ion-input placeholder="Ingrese codigo del video"></ion-input>
  </ion-item>
    <ion-button  color="secondary" (click)='presentAlertConfirm()'>Añadir tarea</ion-button>
  </ion-card>
  
</ion-content> 
<ion-content *ngIf="id=3"> 
 
      
  <ion-card *ngFor="let item of arrayAct">
    <img [src]="item.img" />
    <ion-card-header>
   
      <ion-card-title>{{item.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.descripcion}}
    </ion-card-content>
    <ion-item>
      
      <ion-input placeholder="Añade una descripcion"></ion-input>
      
    </ion-item>
    <ion-item>
    <ion-input placeholder="Ingrese codigo del video"></ion-input>
  </ion-item>
    <ion-button  color="secondary" (click)='presentAlertConfirm()'>Añadir tarea</ion-button>
  </ion-card>
  
</ion-content> 
<ion-content *ngIf="id=4"> 
 
      
  <ion-card *ngFor="let item of arrayAct">
    <img [src]="item.img" />
    <ion-card-header>
   
      <ion-card-title>{{item.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.descripcion}}
    </ion-card-content>
    <ion-item>
      
      <ion-input placeholder="Añade una descripcion"></ion-input>
      
    </ion-item>
    <ion-item>
    <ion-input placeholder="Ingrese codigo del video"></ion-input>
  </ion-item>
    <ion-button  color="secondary" (click)='presentAlertConfirm()'>Añadir tarea</ion-button>
  </ion-card>
  
</ion-content> 
