ion-content{

    --ion-background-color:#f3f34eb5;
}

ion-header{

  padding:0px!important
  
}
.toolbar-container{
  background-color:#f3f34e83;
  padding:0px!important

}
ion-button{
    --border-color: #07a7fdf0;
    --background-activated: #5ac2fac9;
    --color: #0c1317;
    --color-activated: #5ac2fa40;
    --background: #a9e072ec;
}
