<ion-header style="padding :0px!important">
 
  <div class="toolbar-container" style="padding :0px">
  <ion-button (click)="goBack()" slot="start">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-title>Alumnos</ion-title>
</div>

</ion-header>
<ion-content>
<ion-list>
  <ion-item-sliding *ngFor="let item of arrayAlumnos">
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="item.photograpy">
      </ion-avatar>
      <ion-label>{{item.name}}</ion-label>
      
    </ion-item>
    <ion-item-options side="end">
      <ion-button color="success" ><ion-icon name="checkmark-outline"></ion-icon></ion-button>
      <ion-button color="danger" ><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-item-options>
  </ion-item-sliding>

 
</ion-list>
</ion-content>