<ion-header>
  <ion-toolbar>
    <ion-title>actividades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/Imagenes/actividad1-1.PNG" />
    <ion-card-header>
   
      <ion-card-title>Actividad 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aqu[i va una descripcion bien salsas]
    </ion-card-content>
    
    <ion-item>
      <ion-label position="stacked">Explicacion del tema</ion-label>
    </ion-item>
    <div class="div-foto">
      <button type="file" shape="round" expand="block" fill="outline" (click)="UsarCamara()" >
        Tomar Foto
      </button>
      <br>
    
      <button type="file" shape="round" expand="block" fill="outline"(click)="SelectGaleria()" >
        Seleccionar Foto
      </button>
      <br>
      <img [src]="image"  />
    </div>
      <ion-button  color="danger" (click)='video()'>Ver video</ion-button>
      

    
    <ion-button  color="secondary" (click)='presentAlertConfirm()'>Entregar tarea</ion-button>
  </ion-card>
</ion-content>
