<ion-content class="fondo">
  <div class="div-back">
    <ion-button (click)="goBack()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="div-title">
   <h1 class="text-title">Registro catequista </h1>
 
  </div>
  <img src="assets/Imagenes/Jesucristoninos.png">
  <div id="marginImput">
  <input type="text" placeholder="Nombre">
  <div class="div-foto">
  <button type="file" shape="round" expand="block" fill="outline" (click)="UsarCamara()" >
    Tomar Foto
  </button>
  <br>

  <button type="file" shape="round" expand="block" fill="outline"(click)="SelectGaleria()" >
    Seleccionar Foto
  </button>
  <br>
  <img [src]="image"  />
</div>
   
  <input type="text" placeholder="Correo"> 
  <input type="password" placeholder="Contraseña">
 </div>
  
 <ion-button type="submit" shape="round" expand="block" fill="outline">
  Registrar
 
  </ion-button>
 
 </ion-content>
 
 