<ion-content class="fondo">
  <div class="div-back">
    <ion-button (click)="goBack()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="div-title">
   <h1 class="text-title">Registro alumno </h1>
 
  </div>
  <img src="assets/Imagenes/Jesucristoninos.png">
  <div id="marginImput">
    <form [formGroup]="CreateForm">
      <input type="text" placeholder="Nombre" formControlName="name" required>
      <div class="div-foto">
      <button type="file" shape="round" expand="block" fill="outline" (click)="UsarCamara()" formControlName="photograpy" name="photograpy" ngDefaultControl required >
        Tomar Foto
      </button>
      <br>
    
      <button type="file" shape="round" expand="block" fill="outline"(click)="SelectGaleria()" formControlName="photograpy" name="photograpy"  ngDefaultControl required>
        Seleccionar Foto
      </button>
      <br>
      <img [src]="image"  />
      </div>
      <ion-item>
      <ion-label>Selecciona tu libro </ion-label>
        <ion-select placeholder="Select" formControlName="libro" required>
          
          <ion-select-option value="1">libro 5</ion-select-option>
          <ion-select-option value="2">libro 6</ion-select-option>
          <ion-select-option value="3">libro 8</ion-select-option>
          <ion-select-option value="4">libro 9</ion-select-option>
          
        </ion-select>
      </ion-item>
       
      <input type="text" placeholder="Correo"formControlName="email" required> 
      <input type="password" placeholder="Contraseña" formControlName="password" required>
      
    </form>
    <ion-button shape="round" expand="block" fill="outline" (click)="send()">
      Registrar
     
      </ion-button>
  </div>
  
 
 
 </ion-content>
 
 