<ion-content *ngFor="let item of arrayAct" > 
  <ng-container >
      
  <ion-card >
    <img [src]="item.img" />
    <ion-card-header>
   
      <ion-card-title>{{item.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.descripcion}}
    </ion-card-content>
  </ion-card>
  </ng-container>

    <!-- <ion-card>
  
  
  <img src="../../assets/Imagenes/actividad1-2.PNG" />
    <ion-card-header>
   
      <ion-card-title>Tema 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Jesus es la verdad. Celebracion de inicio
    </ion-card-content>
  </ion-card> -->
</ion-content>