<ion-content class="fondo">
    
  <div class="div-title">
   <h1 class="text-title">Bienvenido </h1>
 
  </div>
  <img src="assets/Imagenes/Jesucristoninos.png">
   
  <div class="div-login">
    <button  type="submit" shape="round" expand="block" fill="outline" routerLink="/login" >
      Iniciar sesión
    
    </button>
  </div>
  <ion-button type="submit" shape="round" expand="block" fill="outline" routerLink="/registro-catequita">
    Registrase como catequista
  
    </ion-button><br>

 <ion-button type="submit" shape="round" expand="block" fill="outline" routerLink="/registro-alum">
  Registrase como alumno
 
  </ion-button>
 
 </ion-content>