<ion-header>
  <ion-toolbar>
    <ion-title>Tareas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <center>
    
    <img [src]="data.photograpy" width="200px" height="200px"/>
    <br><br>
    <input  type="number" placeholder="Calificacion"> <br>
    
      <ion-button size="large" color="success">Aceptado</ion-button>
      <ion-button size="large" color="danger">Rechazar</ion-button>
    
  </center>
</ion-content>
